.backgroundImage {
    background-image: url("C:\Users\valeh\Downloads\FT-M2-master\06-React-Intro\homework\02 - Integration\img\rick-and-morty-tv-rick-sanchez-morty-smith-wallpaper-b9b0089d511a9d2bc6c7288f5021462d.jpg");
    background-size: cover;
    background-position: center;
  }
  